@charset "UTF-8";
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
    -> Extends, Functions, Mixins, Animations
\*------------------------------------*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * 1. Address `overflow` set to `hidden` in IE 8/9/10/11.
 * 2. Reset padding for webkit
 */
button {
  overflow: visible;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*------------------------------------*\
    $GRID
\*------------------------------------*/
@media only screen and (min-width: 43.75em) {
  .one-whole {
    width: 100%; }
  .one-half {
    width: 50%; }
  .one-third {
    width: 33.333%; }
  .two-thirds {
    width: 66.666%; }
  .one-quarter {
    width: 25%; }
  .two-quarters {
    width: 50%; }
  .three-quarters {
    width: 75%; }
  .one-quarter-indent {
    margin-left: 25%; }
  .one-fifth {
    width: 20%; }
  .four-fifths {
    width: 80%; }
  .three-eighths {
    width: 37.5%; } }

/*------------------------------------*\
    $BASE
\*------------------------------------*/
/* Tipos */
@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Light.woff2") format("woff2"), url("./fonts/Roboto-Light.woff") format("woff"), url("./fonts/Roboto-Light.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5, Android 2.2+,  */
  font-weight: 300;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Medium.woff2") format("woff2"), url("./fonts/Roboto-Medium.woff") format("woff"), url("./fonts/Roboto-Medium.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5, Android 2.2+,  */
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-LightItalic.woff2") format("woff2"), url("./fonts/Roboto-LightItalic.woff") format("woff"), url("./fonts/Roboto-LightItalic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5, Android 2.2+,  */
  font-weight: 300;
  font-style: italic;
  font-stretch: normal; }

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-MediumItalic.woff2") format("woff2"), url("./fonts/Roboto-MediumItalic.woff") format("woff"), url("./fonts/Roboto-MediumItalic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5, Android 2.2+,  */
  font-weight: 500;
  font-style: italic;
  font-stretch: normal; }

/* Global */
html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #f2f2f2; }

body {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box; }

#app {
  font-size: 100%;
  color: #3c505a;
  font-family: "roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  box-sizing: border-box;
  /* Content */ }
  #app * {
    box-sizing: border-box; }
  #app ::selection {
    background: #735300;
    color: #fff; }
  #app ::-moz-selection {
    background: #735300;
    color: #fff; }
  #app iframe {
    max-width: 100%; }
  #app img {
    vertical-align: middle;
    max-width: 100%;
    height: auto; }
  #app ul,
  #app ol,
  #app dl,
  #app dd {
    list-style: none;
    margin: 0;
    padding: 0; }
  #app p {
    line-height: 1.1; }
  #app a {
    color: inherit;
    text-decoration: none; }
    #app a:hover, #app a:focus {
      outline: none; }
  #app p a {
    color: #735300; }
  #app form {
    margin: 0; }
  #app button,
  #app input,
  #app textarea,
  #app select {
    -webkit-appearance: none; }
    #app button:active, #app button:focus,
    #app input:active,
    #app input:focus,
    #app textarea:active,
    #app textarea:focus,
    #app select:active,
    #app select:focus {
      outline: none; }
  #app button[disabled],
  #app input[disabled] {
    cursor: default; }
  #app textarea {
    overflow: auto;
    vertical-align: top; }
  #app button,
  #app input,
  #app select,
  #app textarea {
    font-family: inherit;
    font-size: 100%; }
  #app input[type='checkbox'],
  #app input[type='radio'] {
    width: auto; }

/* Helpers */
.reader-only {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.app-wrapper {
  display: table;
  width: 100%;
  height: 100%; }

.wrapper {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto; }

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
.g {
  font-size: 0; }
  .g > * {
    font-size: 16px;
    font-size: 1rem; }

@media only screen and (min-width: 43.75em) {
  .gi {
    display: inline-block;
    vertical-align: top; } }

.button {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  border: transparent;
  background-color: #ecd38b;
  color: #735300;
  min-height: 40px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-radius: 8px; }
  .button:hover, .button:focus {
    background-color: #e5c25f;
    outline: none;
    color: #402e00; }
  .button:active {
    background-color: #deb233;
    outline: none;
    color: #0d0900; }
  .button[disabled] {
    color: #8a8a8a;
    background: #a8a8a8; }

.back-button {
  -webkit-appearance: none;
  display: inline-block;
  color: #735300;
  border: transparent;
  min-height: 60px;
  background: transparent;
  padding-right: 10px; }
  .back-button:hover, .back-button:focus {
    outline: none;
    color: #402e00; }
  .back-button:active {
    outline: none;
    color: #0d0900; }
  .back-button[disabled] {
    color: #8a8a8a; }

/*------------------------------------*\
    $APP HEADER
\*------------------------------------*/
.app-header {
  height: 50px;
  background-color: #000;
  color: #fff;
  text-align: center; }
  .app-header .logo {
    line-height: 50px; }

/*------------------------------------*\
    $MAIN HEADER
\*------------------------------------*/
.main-header {
  background-color: #d1d1d1;
  height: 60px; }
  .main-header .main-title {
    line-height: 60px;
    margin: 0;
    font-size: 20px;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 400; }

/*------------------------------------*\
    $PHONE LIST
\*------------------------------------*/
.phone-list {
  margin-left: -20px;
  margin-left: -1.25rem;
  padding-top: 10px;
  padding-top: 0.625rem; }
  .phone-list .phone-list-item {
    width: 100%;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top; }
  @media only screen and (min-width: 60.625em) {
    .phone-list .phone-list-item {
      width: 50%;
      height: 280px;
      overflow: hidden; } }
  @media only screen and (min-width: 75em) {
    .phone-list .phone-list-item {
      width: 33.333%; } }

.phone-list-item {
  padding:  10px 0 10px 20px;
  padding:  0.625rem 0 0.625rem 1.25rem;
  border-radius: 8px; }

.phone-list-item-wrapper {
  background-color: #fff;
  border-radius: 8px;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding:  20px 20px 70px;
  padding:  1.25rem 1.25rem 4.375rem; }
  .phone-list-item-wrapper:after {
    clear: both;
    content: '';
    display: table; }
  .phone-list-item-wrapper p {
    margin: 0; }
  .phone-list-item-wrapper .phone-list-details {
    float: left;
    max-width: 60%; }
  .phone-list-item-wrapper .phone-title {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 10px;
    padding-bottom: 0.625rem; }
  .phone-list-item-wrapper .phone-description {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 10px;
    padding-bottom: 0.625rem; }
  .phone-list-item-wrapper .phone-color {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300; }
    .phone-list-item-wrapper .phone-color .label {
      font-weight: 400;
      padding-right: 4px;
      padding-right: 0.25rem; }
  .phone-list-item-wrapper .phone-image {
    float: right;
    max-width: 40%;
    text-align: right; }
    .phone-list-item-wrapper .phone-image img {
      max-height: 100px; }
  .phone-list-item-wrapper .phone-list-action {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    clear: both;
    padding: 3px; }
  @media only screen and (min-width: 60.625em) {
    .phone-list-item-wrapper .phone-image img {
      max-height: 150px; } }

/*------------------------------------*\
    $PHONE DETAILS
\*------------------------------------*/
.phone-details {
  padding-top: 20px;
  padding-top: 1.25rem; }

.phone-details-wrapper {
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  padding: 0.625rem; }
  .phone-details-wrapper .phone-title {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 400;
    margin: 0;
    padding:  10px 0 10px 0;
    padding:  0.625rem 0 0.625rem 0; }
  .phone-details-wrapper .phone-image {
    text-align: center;
    padding:  20px 0 35px 0;
    padding:  1.25rem 0 2.1875rem 0; }
    .phone-details-wrapper .phone-image img {
      max-height: 300px; }
  .phone-details-wrapper .phone-description {
    padding:  20px 0 10px 0;
    padding:  1.25rem 0 0.625rem 0; }
    .phone-details-wrapper .phone-description p {
      margin: 0;
      padding-bottom: 6px;
      padding-bottom: 0.375rem;
      font-size: 18px;
      font-size: 1.125rem;
      font-weight: 300; }
  .phone-details-wrapper .phone-secondary-data {
    border-top: #ddd 1px solid;
    font-size: 15px;
    font-size: 0.9375rem; }
  .phone-details-wrapper .section-title {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 500;
    padding:  8px 0;
    padding:  0.5rem 0; }
  .phone-details-wrapper .phone-spec {
    font-weight: 300; }
    .phone-details-wrapper .phone-spec .label {
      font-weight: 400;
      padding-right: 8px;
      padding-right: 0.5rem; }
  @media only screen and (min-width: 60.625em) {
    .phone-details-wrapper {
      padding: 20px;
      padding: 1.25rem; }
      .phone-details-wrapper:after {
        clear: both;
        content: '';
        display: table; }
      .phone-details-wrapper .phone-main-data {
        float: left;
        max-width: 60%; }
      .phone-details-wrapper .phone-image {
        float: right;
        max-width: 40%;
        margin-bottom: 10px;
        margin-bottom: 0.625rem; }
      .phone-details-wrapper .phone-secondary-data {
        clear: both; } }

/*------------------------------------*\
    $LOADER
\*------------------------------------*/
.loader {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin-left: -20px;
  margin-left: -1.25rem; }
  .loader p {
    color: #3c505a;
    margin:  10px 0 24px 0;
    margin:  0.625rem 0 1.5rem 0;
    padding:  0 30px;
    padding:  0 1.875rem; }

.loader-circle {
  opacity: 0.5;
  fill: #222c31;
  fill-rule: evenodd;
  animation: loading-anim 0.9s linear infinite;
  transform: translateY(0);
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top; }
  .loader-circle.c1 {
    animation-delay: 0.1s; }
  .loader-circle.c2 {
    animation-delay: 0.3s; }
  .loader-circle.c3 {
    animation-delay: 0.5s; }

@keyframes loading-anim {
  0% {
    opacity: 0.5;
    transform: translateY(0); }
  25% {
    opacity: 1;
    transform: translateY(-20px); }
  50% {
    transform: translateY(0); }
  75% {
    opacity: 0.25;
    transform: translateY(15px); }
  100% {
    opacity: 0.5;
    transform: translateY(0); } }
